/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #554eda;
  --ifm-color-primary-dark: #3d36d5;
  --ifm-color-primary-darker: #342cd0;
  --ifm-color-primary-darkest: #2b24ab;
  --ifm-color-primary-light: #6d66df;
  --ifm-color-primary-lighter: #7873e2;
  --ifm-color-primary-lightest: #9c97e9;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #8580e5;
  --ifm-color-primary-dark: #6962df;
  --ifm-color-primary-darker: #5a54dc;
  --ifm-color-primary-darkest: #332acf;
  --ifm-color-primary-light: #a19eeb;
  --ifm-color-primary-lighter: #b0acee;
  --ifm-color-primary-lightest: #dad9f7;
}
